/*Use this somewhere please! color: #927397*/

/*Body style below*/

body {
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    background-color: rgb(255, 244, 231);
}

/*Header style code below*/

header {
    padding: 60px;
    text-align: center;
    background-color: darkslategray;
    }
    
.h1-header {
    color: bisque;
    font-size: 65px;
    font-weight: 700;
    margin: 40px;
}


/* index style code below  */
.first-image {
    width:90%;
    height:90%;
}

.main-image {
    width:70%;
    height:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aboutuscontent {
    text-align: center;
}

/*Style for Menu section*/

.ourmenu {
    margin-left: auto;
    margin-right: auto;
}

.menu-text {
    color: black;
    font-size: 65px;
    font-weight: 700;
    margin: 40px;
}

/* Style for Our coffee section*/


.ourcoffeetablewrapper {
    display: flex; 
    justify-content: space-evenly;
    border: 10px solid green;
}


.our2coffeetablewrapper {
    border: 10px solid red;
    display: flex; 
    justify-content: space-evenly;
}



/*Style for Contact section*/

.contacttablewrapper {
    /* border: 10px solid red; */
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

/* .table1wrapper {
    border: 5px solid green;
}
.table2wrapper {
    border: 5px solid blue;
} */


/* .contact-open {
    float: left;
}

.contact-us {
    float: right;
  }  */

  #your-question {
    height: 70px;
  }  