/*Use this somewhere please! color: #927397*/

/*Header style code below*/
header {
    padding: 60px;
    text-align: center;
    background-color: darkslategray;
    }
    
.h1-header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: bisque;
    font-size: 65px;
    font-weight: 700;
    margin: 40px;
}

/*Body content, style below*/
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
    background-color: rgb(255, 244, 231);
}

.navbar {
    font-size: x-large;
    letter-spacing: 2px;
}

.navitem {
    margin: 0.3%;
}

.aboutustext {
    font-size: x-large;
}

.main-image {
    width:70%;
    height:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aboutuscontent {
    text-align: center;
}

/*Style for Menu section*/

.ourmenu {
    margin-left: auto;
    margin-right: auto;
}

.page-title-text {
    color: black;
    font-size: 55px;
    font-weight: 700;
    margin: 40px;
}

/* Style for Our coffee section*/
.our-coffee {
    font-size: xx-large;
    padding-bottom: 2%;
}

.coffee-tasting {
    margin: 0 auto; 
    width: 35%; 
    padding: 5%; 
    background: rgb(255, 244, 231);
    border: 2px solid #333; 
    display: flex; 
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
/*Style for Contact section*/

.contacttablewrapper {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    margin: 3%; 
}

.table1wrapper {
    padding: 5%; 
}

.table2wrapper {
    padding: 5%; 
}

.contactus {
    font-size: xx-large;
    padding-bottom: 0%;
}

.donthesitate {
    margin-bottom: 2%;
    font-weight: bold;
}
  
  #name {
    height: 20px;
  }  

  #email {
    height: 20px;
  }  

  #your-message {
    height: 90px;
  }  


  /* Style for footer*/
  footer {
    background-color: rgb(249, 233, 228);
    padding: 3px;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
	z-index: 3;
  }

    /* Style for icons in footer*/


   /* Style for copyright text in footer*/
  footer > p { 
    color: #8d6892;
  }