/*Style for header content*/
header {
    padding: 40px;
    text-align: center;
    background-color: darkslategray;
    }
    
.h1-header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: bisque;
    font-size: xx-large;
    font-weight: 700;
    margin: 40px;
}

/*Style for body content*/
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
    background-color: rgb(255, 244, 231);
}

.page-title-text {
    font-size: xx-large;
}

.about-us-title {
    font-size: x-large;
}

.aboutustext {
    font-size: medium;
}

.main-image {
    width:70%;
    height:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aboutuscontent {
    text-align: center;
}

/*Style for navigation bar content*/
ul {
    list-style-type: none;
    margin: 0; 
    padding: 1px; 
    overflow: hidden; 
    border: 1px solid #e7e7e7; 
    background-color:  rgb(249, 233, 228);
}

li {
    float: left; 
}

li a {
    display: block;
    color: rgb(71, 73, 73); 
    text-align: center; 
    padding: 16px 18px; 
}

li a:hover:not(.active) {
    background-color: rgb(198, 179, 179);
}

/* Style for our coffee section*/
.coffee-tasting {
    margin: 0 auto; 
    width: 35%; 
    padding: 5%; 
    background: rgb(255, 244, 231);
    border: 2px solid #333; 
    display: flex; 
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

/* Style for menu section*/
.drinkstablewrapper {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3%; 
}

/*Style for contact section*/
.contacttablewrapper {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3%; 
}

 .tablewrapper {
    padding: 5%;
    justify-items: normal;
}

.contactus {
    font-size: xx-large;
    padding-bottom: 0%;
}

.donthesitate {
    margin-bottom: 2%;
    font-weight: bold;
}
  
#name {
    height: 20px;
}  

#email {
    height: 20px;
}  

#your-message {
    height: 90px;
}  

  /* Style for footer*/
footer {
    background-color: rgb(249, 233, 228);
    padding: 3px;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
}

footer > p { 
    color: #8d6892;
}

/* Style all font awesome icons */
.fa {
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    opacity: 0.7;
  }

  /* Set a specific color for each brand */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}